<b>Bayes theorem</b>:- Bayes theorem was proposed by tomas bayes, where if we want to check the probability of an event occuring then we ca do it by bayes theorem. 

<br> <b>Bayes => $P(A/B) = P(B/A) * P(A)/P(B)$</b>

As we know that probality of getting head of tail is 1/2 as there are two outcomes, similarly when we pick a card what is the probability of getting a queen, that is 4/52. And what is the probability of getting a queen of diamond(CONDITIONAL PROBABILITY), that could be 1/13 as there are 13 diamond cards, and one queen in 13 diamond cards. And for conditional probability we use bayes formula.
<br> P(Diamond queen/ Total queen) = 1/4
<br> P(queen in diamond) = 1/13
<br> P(diamond queen) = 1/13

We call it naive bayes classifier because, here in the classification we make a <b>"naive"</b> assumption that all the feature variables are independent of each other as there would be some of the columns, which would be dependent on each other.

<mark>Naive bayes classification is used in email spam detection, Handwritten digits character recognization, weather prediction, Face detection, news article categorization, etc

In [77]:
import pandas as pd
import numpy as np

In [79]:
#
load_src = r"C:\Users\Hp\Downloads\Project\Titanic.csv"
df = pd.read_csv(load_src)

In [80]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [81]:
#Some of the features does'nt have any significat impact on the target so we'll drop thise columns
df.drop(["Name","PassengerId","SibSp","Parch","Ticket","Cabin","Embarked"],axis="columns",inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [82]:
#now we will split the dependent(target) and independent variables(inputs)
target = df.Survived
inputs = df.drop(["Survived"],axis="columns")

In [83]:
#here we'll convert the Sex column which is in categorical values so we'll convert them into numercal value by OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown="ignore", sparse_output=False)

In [84]:
from sklearn.compose import make_column_transformer
mct = make_column_transformer(
    (ohe,["Sex"]),
    remainder="passthrough"   #passthrough will pass the other remainder columns without applying the OneHotEncoder but it will include all the remainder columns into the DataFrame
).set_output(transform="pandas")        #.set_output(transform="pandas") will transform the numpy array data into the dataframe, so that we don't have to concat them later.

In [85]:
#using the fit_transform 
inputs_mct = mct.fit_transform(inputs)
inputs_mct

,onehotencoder__Sex_female,onehotencoder__Sex_male,remainder__Pclass,remainder__Age,remainder__Fare
0,0.0,1.0,3,22.0,7.2500
1,1.0,0.0,1,38.0,71.2833
2,1.0,0.0,3,26.0,7.9250
3,1.0,0.0,1,35.0,53.1000
4,0.0,1.0,3,35.0,8.0500
...,...,...,...,...,...
886,0.0,1.0,2,27.0,13.0000
887,1.0,0.0,1,19.0,30.0000
888,1.0,0.0,3,NaN,23.4500
889,0.0,1.0,1,26.0,30.0000
890,0.0,1.0,3,32.0,7.7500

In [110]:
inputs_mct.rename(columns={"onehotencoder__Sex_female":"Female", "onehotencoder__Sex_male":"Male", "remainder__Pclass":"Pclass", "remainder__Age":"Age", "remainder__Fare":"Fare"},inplace=True)
inputs_mct.head()

   Female  Male  Pclass   Age     Fare
0     0.0   1.0       3  22.0   7.2500
1     1.0   0.0       1  38.0  71.2833
2     1.0   0.0       3  26.0   7.9250
3     1.0   0.0       1  35.0  53.1000
4     0.0   1.0       3  35.0   8.0500

In [112]:
inputs_mct.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [118]:
#here we have NAN values in Age column so well convert them into mean, median, etc of that column
inputs_mct.Age = inputs_mct.Age.fillna(inputs_mct.Age.mean())
inputs_mct.Age

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [120]:
inputs_mct.describe()

           Female        Male      Pclass         Age        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.352413    0.647587    2.308642   29.699118   32.204208
std      0.477990    0.477990    0.836071   13.002015   49.693429
min      0.000000    0.000000    1.000000    0.420000    0.000000
25%      0.000000    0.000000    2.000000   22.000000    7.910400
50%      0.000000    1.000000    3.000000   29.699118   14.454200
75%      1.000000    1.000000    3.000000   35.000000   31.000000
max      1.000000    1.000000    3.000000   80.000000  512.329200

In [213]:
#Now we are training our model
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(inputs_mct,target,test_size=0.2,)

In [215]:
len(X_train)

712

In [216]:
X_test.shape

(179, 5)

In [217]:
len(inputs_mct)

891

In [218]:
179+712

891

In [219]:
#There are many models in the Naive bayes but here we'll use the Gaussian normal distribution(Bell curve).
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [220]:
#this will gives us the cofficient and intercept of best fit line
model.fit(X_train,y_train)

GaussianNB()

In [221]:
#score
model.score(X_test,y_test)

0.8156424581005587

In [222]:
#checking the sample of X_test

In [232]:
X_test[:10]      #10 rows

     Female  Male  Pclass        Age     Fare
613     0.0   1.0       3  29.699118   7.7500
628     0.0   1.0       3  26.000000   7.8958
198     1.0   0.0       3  29.699118   7.7500
460     0.0   1.0       1  48.000000  26.5500
417     1.0   0.0       2  18.000000  13.0000
749     0.0   1.0       3  31.000000   7.7500
415     1.0   0.0       3  29.699118   8.0500
511     0.0   1.0       3  29.699118   8.0500
839     0.0   1.0       1  29.699118  29.7000
136     1.0   0.0       1  19.000000  26.2833

In [234]:
#checking the samples of y_test
y_test[:10]     #good test sample as it has data of survived and not survided person's.

613    0
628    0
198    1
460    1
417    1
749    0
415    0
511    0
839    1
136    1
Name: Survived, dtype: int64

In [242]:
#predicting the model 
model.predict(X_test[:10])     #comparing X_test prediction with y_test

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 1], dtype=int64)

In [244]:
#now we can check the probability of the clases(In our case probability of a person if he survived or not)
model.predict_proba(X_test[:10])      
#       Not survived , survived

array([[0.98939567, 0.01060433],
       [0.98915418, 0.01084582],
       [0.09607078, 0.90392922],
       [0.9102477 , 0.0897523 ],
       [0.04113198, 0.95886802],
       [0.98944401, 0.01055599],
       [0.09626713, 0.90373287],
       [0.98941935, 0.01058065],
       [0.91660283, 0.08339717],
       [0.01148547, 0.98851453]])