In [284]:
#here we have a dataset in whih we have spam and ham data, where spam is advertisment, fraud, etc emails and hams are important mails.
import pandas as pd

In [285]:
#Loadind the dataframe by using raw string("r")
load_src = r"C:\Users\Hp\Downloads\Project\spam_ham_dataset.csv"
df = pd.read_csv(load_src)

In [286]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [287]:
#dropping the unneccessary columns fro the DataFrame
columns_to_drop = [0,3]    #index of columns
columns_to_drop_names = df.columns[columns_to_drop]    #df.columns is used to retrieve the column names by index of columns
df.drop(columns=columns_to_drop_names,axis="columns",inplace=True)

#or we could hav simply dropped teh columns like this as well
#df.drop(columns=df.columns[[0,3]],axis="columns",inplace=True)   #[[]] two brackets as features expect 2-D array.

In [288]:
df.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [289]:
#Now we want to groupby(#split #apply #combine) the label column.
df.groupby("label").describe()

       text
      count unique                                                top freq
label
ham    3672   3531  Subject: calpine daily gas nomination\r\n>\r\n...   20
spam   1499   1462                                      Subject: \r\n   16

In [290]:
#checking if there are any unique values in label column, other than spam and ham, if there are then they could give error
print(df.label.unique())

['ham' 'spam']

In [291]:
#converting the label column values to lowercase by .lower() and stripping the extra whitespaces from start and end of the particular values in the text column by .strip()
df["label"] = df["label"].str.lower().str.strip()    #using the str(string) beacuse the label column has string(ham & spam) data

In [292]:
#Here we are creating a new column by the existing label column as integer column as we know that machine leaning algorithms does'nt accept the categorical values
df["spam"] = df["label"].apply(lambda x: 1 if x=="spam" else 0)
df.head(10)

  label                                               text  spam
0   ham  Subject: enron methanol ; meter # : 988291\r\n...     0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3  spam  Subject: photoshop , windows , office . cheap ...     1
4   ham  Subject: re : indian springs\r\nthis deal is t...     0
5   ham  Subject: ehronline web address change\r\nthis ...     0
6   ham  Subject: spring savings certificate - take 30 ...     0
7  spam  Subject: looking for medication ? we ` re the ...     1
8   ham  Subject: noms / actual flow for 2 / 26\r\nwe a...     0
9   ham  Subject: nominations for oct . 21 - 23 , 2000\...     0

In [293]:
#first we will train our dataset
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.text,df.spam,test_size=0.2)

In [294]:
#now here we want to convert the text column into numerical column by CounVectorizer
#Where CountVectorizer in sklearn finds the unique words in the text and make a confusion matrix or vector, like OneHotEncoder. which we'll use as feature columns.
#here in Countvectorizer we represent words as count
from sklearn.feature_extraction.text import CountVectorizer
CV = CountVectorizer()   #instantiating the object
X_train_count = CV.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0],
       [0, 9, 0, ..., 0, 0, 0]], dtype=int64)

In [295]:
#Now we will import the Niave bayes model, there are three model's of naive bayes classifier
#1) Bernoulli Naive bayes
#2) Multinomial naive bayes
#3) Gaussian naive bayes, gaussian naive bayes is used when we have normal distribution(bell curve distribution of data)

#here we will use the multinomial naive bayes classifier, as the multinomial naive bayes classifier is used when we discrete data, for ex, movie rating 
#ranging from 1 to 5 stars, in text learning we have the count of each word to predict the class or label.

from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB() #instantiating the object
mnb.fit(X_train_count,y_train)

MultinomialNB()

In [296]:
#lets predict our model
emails = [
    'Hey ryan, its confirmed we are going spacestation of NASA next week',
    'Upto 40% on plot near amsterdam, if you deposit $50000 as token today, dont miss exclusive offer'
]
emails_count = CV.transform(emails)
mnb.predict(emails_count)

array([0, 1], dtype=int64)

In [314]:
#Now we are checking the score(acuraccy)
#Here we have to convert the X_test into integers as it only accepts numbers
X_test_count = CV.transform(X_test)
#then we can check the score
mnb.score(X_test_count,y_test)

0.978743961352657

#As we had to use the transform method every single time before suppliying the data to our model, as we did in the email prediction and score checking,etc but we can do that easy by creating a pipeline for transformation.

In [318]:
#Importing Pipeline
#Pipeline: The Pipeline class is instantiated with a list of steps. Each step is a tuple where the first element is the name of the step (a string), and
#the second element is an estimator or transformer instance.
#('vectorizer', CountVectorizer()): This step names the CountVectorizer as vectorizer. The CountVectorizer transforms the text data into a document-term 
#matrix (a matrix of token counts).
#('nb', MultinomialNB()): This step names the MultinomialNB (Multinomial Naive Bayes) classifier as nb. The MultinomialNB is a Naive Bayes classifier for
#multinomially distributed data, often used for text classification.
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),       #instantiating the object as a tuple
    ('nb', MultinomialNB())          #instantiating the object as tuple
])

In [322]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [326]:
#checking the accuracy
clf.score(X_test,y_test)

0.978743961352657

In [328]:
#predicting the data
clf.predict(emails)

array([0, 1], dtype=int64)